$("#attend_button").parent().append('<div class="card-panel teal lighten-4" id="result"></div>')
$("#result").append('<h5 class="center"> 参加確定!!</h5>');
$("#attend_button").remove();
$("#absent_button").remove();
