<div class="main">
  <div class = "invitation">
    <div class="row">
      <div class="col s12">
        <div class="card-panel white lighten-5">
          <div class = "center">
            <h2 class="teal-text text-lighten-3">キャンセルしました！</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

