<div class="main">
  <div class="contents">
    <div class = "card-panel teal lighten-4">
      <h4 class="center">
        現在の参加者**人
      </h4>
    </div>

    <div class = "member_window">
      <div class = "row">
        <div class="col s3">
          <a href = "UI_0.html">
            <%= image_tag "test.jpg", class: "circle responsive-img" %>
          </a>
            <h6 class="center black-text">名前</h6>
            <h6 class="center black-text">年齢</h6>
            <h6 class="center black-text">職業</h6>
        </div>
      </div>
    </div>


    <!--参加の意思表示ボタン  -->

    <!--現地までの地図など  -->
    <div class = "row">
      <div class = "col s6">
        <div class="card-panel white lighten-5" href = "**">
           <a href = "****">レストラン名</a>
          <p>予算 **円</p>
          <p>**:**~**:**</p>
        </div>
        <%= image_tag "restaurant.jpg", class: "responsive-img" %>

      </div>
      <div class = "col s6">
        <div id="map" style='width: 400px; height: 400px;'></div>
      </div>

    </div>
    <div class = "center">
        <%= link_to "参加します", attend_event_group_group_users_path(@event, @group), id: 'attend_button', remote: true if false %>
      <a class="waves-effect waves-light btn" href = "UI_2.html">参加</a>
      <a class="waves-effect waves-light btn" href = "UI_0.html">不参加</a>
      <a class="waves-effect waves-light btn" href = "UI_0.html">保留</a>
    </div>
  </div>
</div>

<div style='width: 800px;'>

</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });
</script>
