<p> グループに参加しますか？ </p>
<ul>
  <% @group.users.each do |user| %>
    <li>
      <%= user.name %>
      <% if user.id == current_user.id %>
        <%= link_to "参加します", attend_event_group_group_users_path(@event, @group), id: 'attend_button', remote: true %>
      <% end %>
    </li>
  <% end %>
</ul>
<p> <%= @restaurant.name %> </p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(16);
    });
</script>
