<h2> <%= @event.name %> </h2>
<!-- ToDo event_userレコードが存在するときはここを表示しないようにする -->
<%= link_to "打ち上げに参加", event_event_users_path(@event), method: :post %>
<h3>参加人数: <%= @event.users.length %> 人
<% if @event.users.length >= 5 %>
  <%= link_to "グループを作成", event_groups_path(@event), method: :post %>
<% end %>
