
<!-- ToDo event_userレコードが存在するときはここを表示しないようにする -->

<% if @event.users.length >= 5 %>
  <%= link_to "グループを作成", event_groups_path(@event), method: :post %>
<% end %>


<div class="main">
  <div class = "invitation">
    <!--ここを動的に生成できるようにする?  -->
    <div class="row">
      <div class="col s2"></div>
      <div class="col s12">
        <div class="card-panel white lighten-5">
          <div class = "center">
            <p> 参加中のイベント: <%= @event.name %> </p>
            <p>二次会に行きましょう！</p>
            <%= link_to "はい", event_event_users_path(@event), method: :post, class: "waves-effect waves-light btn" %>
            <a class="waves-effect waves-light btn" href = "UI_0.html">いいえ</a>
          </div>
          </div>
        <div class="col s2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
