.main{
  position:absolute;
  width:100%;
  height:100%;
}

.invitation{
  z-index: 6;
  width:100%;
  position: absolute;
  top: 30%;
  margin: auto;
}

.party_eval{
  z-index: 2;
  position:absolute; top:5%;
  width:100%;
}

.cancel_confirm{
  position:absolute; top:5%;
  width:100%;
}

.after_answer{
  position:absolute; top:35%;
  z-index:4;
  width:100%;
}

.before_answer{
  position:absolute;top:35%;
  z-index:5;
  width:100%;
}
